<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		
		<!--<add name="connectionstring" connectionString="Server=localhost; Database =bloodbanks; uid=root; pwd=1234567890; "/> -->

		<!--<add name ="connectionstring" connectionString = "@Data Source=localhost;Initial Catalog=bloodbanks;User ID=root;Password=1234567890"/>;-->

		<!--<add name="connectionstring" connectionString="server=localhost;database=bloodbanks;uid=root;pwd=1234567890" providerName="MySql.Data.MySqlClient" />-->



		<!--microsoft sql server
		<add name="connstrng" connectionString="Data Source=DESKTOP-LQAQFPD;Initial Catalog=Salam Stores;Integrated Security=True"/>-->

	</connectionStrings>
</configuration>